#me{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float: right;
}

#projects{
    margin-top: 50px;
}

#contact{
    margin-top: 50px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#skills{
    display: flex;
    flex-direction: row;
}

.contact-details, 
.contact-form {
      padding: 20px;
      background-color: #f8f9fa;
}
.contact-details h2,
.contact-form h2 {
      margin-top: 0;
      margin-bottom: 20px;
}

@media (max-width: 575.98px) {
    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 575px) {
    .card-img-top {
        margin-top: 50px;
    }
    .display-4{
        margin-top: 50px;
    }
  }

  @media (max-width: 465px) {
    .card-img-top {
        margin-top: 15px;
    }
  }

  @media (max-width: 465px) {
    #me {
        margin-top: -50px;
    }
  }