#me{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float: right;
}

#projects{
    margin-top: 50px;
}

#contact{
    margin-top: 50px;
}

@media (max-width: 575.98px) {
    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }